name: ci

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup node
        uses: actions/setup-node@v2

      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Initialize gradlew
        run: ./gradlew

      - name: Print Version
        env:
          TERM: dumb
        run: |
          echo "VERSION=$(./gradlew printVersion --quiet)" >> $GITHUB_ENV

      - name: Release SDKs
        env:
          MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          POSTMAN_API_KEY: ${{ secrets.POSTMAN_API_KEY }}
          POSTMAN_WORKSPACE_ID: ${{ secrets.POSTMAN_WORKSPACE_ID }}
          TERM: dumb
        run: |
          npm config set @fern-api:registry https://registry.npmjs.org
          npm config set //registry.npmjs.org/:_authToken "${{ env.NPM_TOKEN }}"
          echo "${{ env.VERSION }}"
          npx @fern-api/fern-api-dev release --group sdks --version "${{ env.VERSION }}" --log-level debug
